@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.bg-image {
  background-image: url(./background-image.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar-nav {
  font-weight: bold;
}

.navbar-nav a {
  color: #2e3191;
}

.bg-hero-penuh {
  background-image: url(../public/hero-penuh.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 70vh;
}

.bg-hero-sebahagian {
  background-image: url(../public/hero-sebahagian.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 70vh;
}

@media (max-width: 600px) {
  .bg-hero-penuh,
  .bg-hero-sebahagian {
    height: 50vh;
  }
}
